<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/sticky-footer.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/index-page-styles.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style>
        #register-context{
            margin-top:12%;
        }
        #registerButton{
            margin-bottom:2%;
        }

    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">EXgames</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/profile">Profile</a>
                    </li>
                    <li>
                        <a href="/login">LogIn</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <!-- Page Content -->
    <div class="container"> 
        <div class="row">
            <div class="container">
              <br> 
              </br>
              <br> <!-- TODO need to be fixed (h2 login is behind the header) -->
              <h2>Create a new EXgames account.</h2>
              </br>
              <form role="form" action="/register" method="post">
                    <div class="form-group">    
                        <label for="email">Username*</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter username" >
                    </div>
                    <div class="form-group">    
                        <label for="email">Email*</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password*</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" >
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password confirmation*</label>
                        <input type="password" class="form-control" id="pwd_confirmation" placeholder="Retype password" >
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label><br>
                        <select class="input-medium bfh-countries" id="country" data-country="CA"></select>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">I have read and accept the <a href="#">Terms of Use</a></label>
                    </div>
                    <button type="submit" class="btn btn-primary" id="b_submit">Submit</button>
              </form>
            </div>
        </div>
    </div>
    
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Copyright &copy; 2015 - All Rights Reserved - EXgames</p>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lang/en_us/bootstrap-formhelpers-countries.en_US.js"></script>
    <script src="js/bootstrap-formhelpers-countries.js"></script>
    
</body>
            
</html>         
            
            
            